body {
  margin: 0;
  background-color:#1e1e1e;
  font-family: 'Poppins', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.holder{
  background-image: linear-gradient(to right, #4776e6, #8e54e9);
}

.card-img-top{
  height: 350px;
}

.card{
  background-color: black;
}

.imgholder{
  overflow: hidden;
}

.cardholder :hover img{
  transition: 0.5s;
  transform: scale(1.2,1.2);
}

.endfoot{
  background-color: black;
}

/* responsive card */

.rcardholder{
  display: none;
}

.rcardholder :hover img{
  transition: 0.5s;
  transform: scale(1.2,1.2);
}

/* detail page */

.detailimg{
  height: 500px;
}

/* home page */

.homeimg{
  height:350px;
}

@media screen and (max-width:600px){
  .nav-item{
      margin-top: 20px;
  }
  .navbar-nav{
    padding-bottom: 10px;
  }
  .navbtn{
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  .card-img-top{
    height: 200px;
  }
  .cardholder{
    display: none;
  }
  .rcardholder{
    display: block;
  }
  .detailimg{
    height: 450px;
  }
  .homeimg{
    height:450px;
  }
}