body {
  margin: 0;
  background-color:#1e1e1e;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.holder{
  background-image: linear-gradient(to right, #f12711, #f5af19);
}

.card-img-top{
  height: 350px;
}

.card{
  background-color: black;
}

.imgholder{
  overflow: hidden;
}

.cardholder :hover img{
  transition: 0.5s;
  transform: scale(1.2,1.2);
}

/* responsive card */

.rcardholder{
  display: none;
}

.rcardholder :hover img{
  transition: 0.5s;
  transform: scale(1.2,1.2);
}

@media screen and (max-width:600px){
  .cat{
      display: none;
  }
  .card-img-top{
    height: 200px;
  }
  .cardholder{
    display: none;
  }
  .rcardholder{
    display: block;
  }
}